/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Hauteur container */
.select2-container {
    flex-grow: 1;
}

/* Hauteur du select et alignement avec Bootstrap */
.select2-container .select2-selection {
    min-height: calc(1.5em + 0.75rem + 2px); /* Même hauteur que .form-control */
    padding: 0.375rem 0.75rem; /* Même padding que .form-control */
}

/* Alignement du texte */
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
    line-height: 1.5;
}

/* Position de la flèche */
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 100%; /* Hauteur complète */
    right: 0.75rem; /* Alignement à droite */
}